:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: var(--soft-pink-powder-color);
  --header-decor-top-bg-image: url("../images/decor-light-top.svg");
  --header-decor-bottom-bg-image: url("../images/decor-bottom-light.svg");
  --nav-color: var(--dark-gray-color);
  --nav-hover-color: var(--semitransparent-brunette-color);
  --title-color: var(--light-pinkish-purple-color);
  --accent-color: var(--fuchsia-color);
  --title-decor-color: var(--dark-gray-color);
  --title-decor-bg-color: var(--fuchsia-color);
  --section-title-color: var(--dark-gray-color);
  --paragraph-color: var(--dark-gray-color);
  --header-decor-top-bg-image: url("../images/decor-light-top.svg");
  --header-decor-bottom-bg-image: url("../images/decor-bottom-light.svg");
}

.theme-light .header__inscription {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: var(--soft-pink-powder-color);
    --header-decor-top-bg-image: url("../images/decor-light-top.svg");
    --header-decor-bottom-bg-image: url("../images/decor-bottom-light.svg");
    --nav-color: var(--dark-gray-color);
    --nav-hover-color: var(--semitransparent-brunette-color);
    --title-color: var(--light-pinkish-purple-color);
    --accent-color: var(--fuchsia-color);
    --title-decor-color: var(--dark-gray-color);
    --title-decor-bg-color: var(--fuchsia-color);
    --section-title-color: var(--dark-gray-color);
    --paragraph-color: var(--dark-gray-color);
    --header-decor-top-bg-image: url("../images/decor-light-top.svg");
    --header-decor-bottom-bg-image: url("../images/decor-bottom-light.svg");
  }

  .theme-auto .header__inscription {
    visibility: hidden;
  }

}