/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--main-font, monospace);
  padding: 10px; /* для айпада и ноутбука изменить */
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  font-weight: var(--weight-bold);
  font-size: var(--size-normal);
  padding-block-end: 20px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-image: var(--header-decor-top-bg-image);
  inset-inline-end: -0.5px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-image: var(--header-decor-bottom-bg-image);
  inset-block-end: 20px;
}

.header__inscription {
  display: grid;
  justify-self: right;
  margin-inline-end: 25px;
  color: var(--crimson-color);
  line-height: 25px;
  font-weight: var(--weight-normal);
  margin-block-end: 39px; /* для айпада и ноутбука изменить */
  position: relative;
  padding-inline-end: 3px;
}

.header__inscription::after {
  content: "";
  position: absolute;
  inline-size: 19px;
  block-size: 19px;
  background-image: var(--inscription-bg-image);
  background-size: contain;
  inset-block-start: 3px;
  inset-inline-end: -21px;
}

.header__theme-menu {
  justify-self: right;
  margin-block-end: 65px; /* для айпада и ноутбука изменить */
}

.header__theme-menu-list {
  display: grid;
  row-gap: 10px;
}

.header__theme-menu-button {
  color: var(--nav-color);
  padding: 1.5px 13px;
  text-transform: lowercase;
  font-weight: var(--weight-normal);
  line-height: 18px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__title {
  display: grid;
  justify-self: left;
  color: var(--title-color);
  text-transform: lowercase;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* для айпада, ноутбука изменить */
  line-height: 83%;
  margin-block-end: 55px; /* для айпада и ноутбука изменить */
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  justify-self: right;
  line-height: 130%; /* 23.4px */
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--title-decor-bg-color);
}

.normal-weight {
  font-weight: var(--weight-normal);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-auto-rows: min-content;
  font-weight: var(--weight-bold);
  font-size: var(--size-normal);
  line-height: 130%; /* 23.4px */
  row-gap: 50px; /* для айпада и десктопа изменить */
  margin-block-start: 30px; /* для айпада и десктопа дописать */
  margin-block-end: 30px; /* для айпада и десктопа дописать */
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-auto-rows: min-content;
  gap: 20px; /* везде одинаковый */
}

.section__title {
  color: var(--section-title-color);
  justify-self: left;
}

.cards__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-auto-rows: min-content;
  gap: 20px; /* везде одинаковый */
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-auto-rows: min-content;
  gap: 20px; /* везде одинаковый */
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-auto-rows: min-content;
  gap: 10px; /* везде одинаковый */
}

.content__paragraph {
  font-weight: var(--weight-normal);
  color: var(--paragraph-color);
  justify-self: left;
}

.link-with-shadow {
  line-height: 100%;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link-with-shadow:hover {
  border-bottom: 1px solid var(--paragraph-color);
  cursor: pointer;
}

.link-with-shadow:focus-visible {
  outline: 1px solid var(--paragraph-color);
  outline-offset: 1px;
}

.section-with-images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 10px; /* на айпаде и ноуте изменить */
}

.images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  grid-auto-rows: min-content;
  gap: 10px; /* на айпаде и ноуте изменить */
}

.image {
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  padding-block-start: 20px; /* айпад ноут дописать */
}

.footer__title {
  display: grid;
  align-items: center;
  justify-self: center;
  color: var(--title-color);
  text-transform: lowercase;
  font-weight: var(--weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* для айпада, ноутбука изменить */
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.decorated-zone-footer {
  position: relative;
}

.decorated-zone-footer::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-image: var(--header-decor-top-bg-image);
  inset-block-start: 20px;
  inset-inline-end: -0.5px;
}

.decorated-zone-footer::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  background-image: var(--header-decor-bottom-bg-image);
  inset-block-end: 0;
}

@media (min-width: 768px) {
  .page {
    padding: 20px 20px 20px 0;
  }

  .header {
    padding-block-end: 40px;
  }

  .header__inscription {
    margin-block-end: 146px; /* для ноутбука изменить */
  }

  .header__theme-menu {
    margin-block-end: 173px; /* для ноутбука изменить */
  }

  .header__title {
    margin-block-end: 162px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__paragraph {
    max-inline-size: 364px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 40px;
  }

  .content {
    padding-inline-start: 20px;
    margin-block-start: 40px;
    margin-block-end: 40px;
    row-gap: 80px;
  }

  .content__section:nth-of-type(1),
  .content__section:nth-of-type(3) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .limit-width {
    max-inline-size: 236px; /* для ноута изменить */
  }

  .section-with-images {
      gap: 20px;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
    grid-auto-flow: dense; 
  }

  .image {
    align-self: stretch;
  }
  
  .image:nth-of-type(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    padding-inline-start: 20px;
    padding-block-start: 40px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone-footer::before {
    inset-block-start: 40px;
  }

  .decorated-zone-footer::after {
    inset-inline-start: 20px;
  }
  
}

@media (min-width: 1024px) {
  
  .for-desktop {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .header__inscription {
    margin-block-end: 0;
    order: 2;
    position: absolute;
    right: 0;
  }

  .header__theme-menu {
    margin-block-end: 273px;
    order: 1;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .header__title {
    margin-block-end: 114px;
  }

  .header__paragraph {
    max-inline-size: 491px;
  }

  .content__section:nth-of-type(2) .limit-width {
    max-inline-size: 315px;
  }

  .content__section:nth-of-type(2) .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

}